@{
    Layout = "_AdminLayout";
}

<h1>Административен панел</h1>
<ul>
    <li><a asp-area="Admin" asp-controller="SportGear" asp-action="Index">Управление на оборудване</a></li>
    <li><a asp-area="Admin" asp-controller="Rental" asp-action="Index">Управление на наеми</a></li>
    <li><a asp-area="Admin" asp-controller="Review" asp-action="Index">Управление на отзиви</a></li>
</ul>